<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%=h @exam.name %>
</p>
<ol>
	<% for question in @exam.questions %>
	  	<li><%=h question.content%>
           <ul>
           	  <% for choice in question.choices %>
	  	         <li><%=h choice.content%></li>
	          <%end%>
           </ul>
	  	</li>
	<%end%>
</ol>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
